## 🔴 Application ERROR Alert

| Log                                              | Count |
|--------------------------------------------------|-------|
{% for log in logs -%}
    | `{{ log.log | replace('\n', ' ') | truncate(80) }}` | {{ log.count }} |
{% endfor %}

---
